/*Designed by RollW*/
/*引用行 
@import*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: '70S';
  src: url('../fonts/HYQiHei-70S.eot');
  src: url('../fonts/HYQiHei-70S.otf') format('embedded-opentype'),
       url('../fonts/HYQiHei-70S.woff') format('woff'),
       url('../fonts/HYQiHei-70S.otf') format('truetype'),
       url('../fonts/HYQiHei-70S.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '70S';
  src: url('fonts\HYQiHei-75SBold.eot');
  src: url('fonts\HYQiHei-75SBold.ttf') format('embedded-opentype'),
       url('fonts\HYQiHei-75SBold.woff') format('woff'),
       url('fonts\HYQiHei-75SBold.ttf') format('truetype'),
       url('fonts\HYQiHei-75SBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lemon';
  src: url('../fonts/LEMONMILK-Regular.eot');
  src: url('../fonts/LEMONMILK-Regular.otf') format('embedded-opentype'),
       url('../fonts/LEMONMILK-Regular.woff') format('woff'),
       url('../fonts/LEMONMILK-Regular.otf') format('truetype'),
       url('../fonts/LEMONMILK-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lang';
  src: url('../fonts/MFLangQian_Noncommercial-Light.eot');
  src: url('../fonts/MFLangQian_Noncommercial-Light.otf') format('embedded-opentype'),
       url('../fonts/MFLangQian_Noncommercial-Light.woff') format('woff'),
       url('../fonts/MFLangQian_Noncommercial-Light.otf') format('truetype'),
       url('../fonts/MFLangQian_Noncommercial-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
  html{
    height: 100%;
    min-height: 100%;
    }
    /*链接样式*/
    a{ text-decoration:none;}
    a:hover{ text-decoration:none;}
    a:link { text-decoration: none;color: violet;}
    a:active { text-decoration:blink;}
    a:visited { text-decoration: none;}
    /*链接样式*/
  body {
    height: 100%;
    min-height: 100%;
    font-family: 'Lemon','lang';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: 	#ffd900	  ;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

    }
    h1{
        font-size: 30px;
    }
    p{
      font-size: 13px;
    }
    .text{
      font-size: 16px;
    
    }
    .center{
      text-align: center;

    
    }

    a.menu-link { display: none; }

@media screen and (max-width: 950px) {
  a.menu-link {
    float: right;
    display: block;
    font-size: 36px;
    color: #fff;
    padding-right: 30px;
    padding-top: 15px;
  }
}
  .form-group {
    width: 300px;
    height: 20px;
    padding: 10px;
    border: none;
    font-weight: bolder;

    color: #A65391	;
    margin: 20px auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
    
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
  }


   blockquote {
    background-color: #ff7b0000;
    /*border-left: 6px solid #b85607cc;
    border-right: 6px solid #b85607cc;
    border-bottom: 6px solid #b85607cc;
    border-top: 6px solid #b85607cc;*/
    padding: 1em 1.5em 1em 1.5em;
    position: relative;
  
  
    margin-left: 30%;
    margin-right: 30%;
   }
   blockquote:before {
     color:#6e320fcc;
     content: "\201C";
     font-size: 5em;
     position:absolute;
     left:-15px;
     top: 40px;
     line-height: 0.1em;
   }
   blockquote:after {
     color:#691b1bcc;
     content: "\201D";
     font-size: 5em;
     position:absolute;
     right:15px;
     bottom: 0em;
     line-height: 0.1em;
   }
  .k1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
  .k2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
  }

  footer{
  text-align: center;
  font-family: '70S';
  }

